* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  list-style: none;
}
@import "home.scss";
@import "nav.scss";
@import "course.scss";
@import "profile.scss";
@import "post.scss";
@import "enroll.scss";
@import "postcourse.scss";
@import "login.scss";
@import "register.scss";
